body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="text"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-header {
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.main-header-logo {
  line-height: 0;
  margin-right: 201px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo img:active {
  opacity: 0.3;
}

.main-container {
  width: 100%;
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
  padding-bottom: 18px;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
  padding: 0;
  margin: 0;
  padding-top: 15px;
  list-style: none;
}

.site-navigation li {
  margin-right: 46px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation a {
  padding: 10px 0;
}

.menu-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 140px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
  padding-top: 14px;
  text-align: right;
}

.main-header-cart {
  position: relative;
  padding: 10px 0;
  padding-left: 40px;
  width: 115px;
  text-align: right;
  background-image: url("../img/svg/cart-icon.svg");
  background-position: 0 12px;
  background-repeat: no-repeat;
}

.site-navigation a,
.main-header-cart {
  line-height: 30px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-header-cart:hover,
.main-header-cart:focus {
  color: #fb565a;
}

.site-navigation a:active,
.main-header-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-current {
  border-bottom: 2px solid #fb565a;
}

.button {
  padding: 16px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #fb565a;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 2px 2px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.principles {
  background-color: #eeeeee;
}

.container-principle {
  margin-bottom: 252px;
}

.principle {
  display: none;
  width: 435px;
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
}

.principle-design::after {
  position: absolute;
  z-index: 1;
  content: "";
  bottom: 0;
  left: 431px;
  width: 698px;
  height: 413px;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.principle-math::after {
  position: absolute;
  z-index: 1;
  content: "";
  bottom: 0;
  left: 495px;
  width: 663px;
  height: 430px;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.principle-work::after {
  position: absolute;
  z-index: 1;
  content: "";
  bottom: 0;
  left: 401px;
  width: 759px;
  height: 411px;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.principle b {
  font-weight: 500;
  display: block;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 25px;
  width: 525px;
}

.principle p {
  margin: 0;
  margin-bottom: 40px;
}

.principle .button {
  display: block;
  box-sizing: border-box;
  width: 240px;
}

.principle-checked {
  display: block;
}

.gallery {
  margin: 0;
  padding: 0;
  margin-right: 31px;
}

.gallery img {
  display: block;
  width: 698px;
  height: 413px;
}

.slide {
  position: absolute;
  z-index: 4;
  bottom: 96px;
  left: 555px;
  display: flex;
  justify-content: space-between;
  width: 88px;
  height: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide li {
  line-height: 0;
}

.slide-btn {
  position: relative;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50% 50%;
  background-color: #ffffff;
}

.slide-current::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50% 50%;
}

.decoration-line::after {
  position: absolute;
  content: "";
  bottom: -82px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.our-client::after {
  position: absolute;
  content: "";
  bottom: -38px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.our-client::before {
  position: absolute;
  content: "";
  top: -50px;
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.services {
  margin-bottom: 122px;
}

.services-list {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.services-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  padding: 0;
  width: 245px;
  margin-bottom: 31px;
}

.services-item .button {
  display: block;
  box-sizing: border-box;
  width: 160px;
}

.services-item::before {
  position: absolute;
  content: "";
  top: -172px;
  left: 0;
  width: 300px;
  height: 146px;
}

.services-item:nth-child(1)::before {
  background-color: #fb565a;
  background-image: url("../img/illustration-1.png");
}

.services-item:nth-child(2)::before {
  background-color: #00ca74;
  background-image: url("../img/illustration-2.png");
}

.services-item:nth-child(3)::before {
  background-color: #efc84a;
  background-image: url("../img/illustration-3.png");
}

.services-item {
  position: relative;
  width: 300px;
  margin-right: 100px;
}

.services-item:last-child {
  margin-right: 60px;
}

.services-item:nth-child(2) .button {
  background-color: #00ca74;
}

.services-item:nth-child(3) .button {
  background-color: #efc84a;
}

.services-item:nth-child(2) .button:hover,
.services-item:nth-child(2) .button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.services-item:nth-child(3) .button:hover,
.services-item:nth-child(3) .button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .button:active {
  background-color: #e5a722;
}

.about-nerds {
  margin-bottom: 98px;
}

.container-about-nerds {
  display: flex;
  justify-content: space-between;
}

.column-about-nerds {
  width: 655px;
}

.column-about-nerds-value {
  width: 360px;
}

.about-nerds-value {
  width: 360px;
}

.about-nerds-value td {
  border-collapse: collapse;
  padding-top: 10px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 19px;
  text-align: left;
}

.about-nerds b {
  display: block;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 34px;
  margin-top: 34px;
}

.about-nerds p {
  margin: 0;
  margin-bottom: 39px;
}

.about-nerds .title-services-list {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.about-nerds-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-nerds-services-list li {
  margin-bottom: 24px;
}

.about-nerds-services-list a {
  padding-left: 35px;
  position: relative;
  color: #000000;
}

.about-nerds-services-list a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.column-about-nerds-value img {
  margin-bottom: 30px;
}

.about-nerds-value caption {
  margin-bottom: 46px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-left: 16px;
}

.about-nerds-value tr:nth-child(1) {
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  vertical-align: top;
  margin-bottom: 20px;
}

.about-nerds-value tr:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.about-nerds-value sup {
  vertical-align: middle;
  font-size: 26px;
}

.our-client {
  margin-bottom: 118px;
}

.our-client-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-client-item:nth-child(1) {
  position: relative;
  margin-right: 97px;
  margin-left: 30px;
  margin-top: 6px;
}

.our-client-item:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 2px;
  right: -52px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.our-client-item:nth-child(2) {
  position: relative;
  margin-right: 104px;
}

.our-client-item:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 16px;
  right: -46px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.our-client-item:nth-child(3) {
  position: relative;
  margin-right: 120px;
}

.our-client-item:nth-child(3)::after {
  position: absolute;
  content: "";
  top: -2px;
  right: -56px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.our-client-item:nth-child(4) {
  margin-top: 4px;
}

.our-client-item a {
  opacity: 0.2;
}

.our-client-item a:hover,
.our-client-item a:focus {
  opacity: 1;
}

.our-client-item .our-client-logo:active {
  opacity: 0.1;
}

.page-title {
  text-align: center;
  text-transform: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: #eeeeee;
  padding-top: 59px;
  padding-bottom: 108px;
  margin-left: -2px;
  margin-bottom: 54px;
}

.container-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.column-products {
  width: 760px;
}

.filters {
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 27px;
}

.filter .features {
  margin-bottom: 32px;
}

.filter legend {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter .price-list {
  margin-bottom: 53px;
}

.price-list legend {
  margin-bottom: 48px;
  padding-top: 2px;
  padding-bottom: 0;
}

.range-double {
  position: relative;
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  background-color: #eeeeee;
  border-radius: 2px 2px;
}

.range {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -106px;
  width: 212px;
  height: 2px;
  background-color: #d7dcde;
}

.range-scale {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -106px;
  width: 67%;
  height: 2px;
  background-color: #00ca74;
}

.roller {
  position: absolute;
  content: "";
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  width: 20px;
  height: 23px;
  background-image: url("../img/svg/filter-button.svg");
  cursor: pointer;
}

.min-roller {
  margin-left: -110px;
}

.max-roller {
  margin-left: 31px;
}

.range-value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-value-container label {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-value-container input {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
  background-color: #eeeeee;

  box-sizing: border-box;
  width: 80px;
  padding: 8px 5px;
  margin: 0;
  margin-left: 8px;
  overflow: hidden;
  text-align: center;
  border-radius: 2px 2px;
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 16px;
}

.filter-option:hover {
  opacity: 1;
}

.filter-option label {
  line-height: 20px;
  position: relative;
  padding-left: 35px;
  color: #283136;
}

.filter-input + label::before {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  opacity: 0.4;
}

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/svg/radio-on.svg");
}

.filter-input-checkbox + label::before {
  width: 23px;
  height: 23px;
  background-image: url("../img/svg/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/svg/checkbox-on.svg");
}

.filter-input:hover + label::before,
.filter-input:focus + label::before {
  opacity: 1;
}

.filter-input:disabled + label {
  opacity: 0.3;
}

.filter-button {
  width: 100%;
  color: #000000;
  background-color: #eeeeee;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.sort {
  display: flex;
  margin-bottom: 51px;
}

.sort h2 {
  padding: 0;
  margin: 0;
  margin-right: 265px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list,
.sort-order-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-order-list {
  position: relative;
  width: 40px;
  margin-left: auto;
}

.sort-list {
  width: 310px;
  padding-top: 3px;
}

.sort-list li {
  margin-right: 26px;
}

.sort-list li:last-child {
  margin-right: 0;
}

.sort-list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-list a:hover,
.sort-list a:focus {
  opacity: 0.6;
}

.sort-list a:active,
.sort-list .sort-item-checked {
  opacity: 1;
}

.sort-list .sort-item-checked:hover,
.sort-list .sort-item-checked:focus,
.sort-list .sort-item-checked:active {
  opacity: 1;
}

.ascending {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;
}

.descending {
  position: absolute;
  content: "";
  top: 2px;
  right: 0;
}

.descending path,
.ascending path {
  fill: #a6a6a6;
  opacity: 0.2;
}

.descending:hover path,
.descending:focus path,
.ascending:hover path,
.ascending:focus path {
  opacity: 1;
}

.descending:active path,
.ascending:active path,
.sorting-checked path {
  fill: #231f20;
  opacity: 1;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 27px;
}

.product {
  display: none;
  box-sizing: border-box;
  background-color: #eeeeee;
  width: 362px;
  padding-top: 27px;
  padding-bottom: 42px;
  padding-right: 10px;
  padding-left: 10px;
}

.product h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.description {
  margin: 0 auto;
  margin-bottom: 32px;
  line-height: 18px;
  color: #666666;
  width: 227px;
}

.products-item:nth-child(1) .description,
.products-item:nth-child(3) .description,
.products-item:nth-child(4) .description {
  width: 190px;
}

.products-item {
  position: relative;
  margin-right: 40px;
  margin-bottom: 32px;
  box-sizing: border-box;
  width: 360px;
  border: 1px solid rgba(0, 1, 1, 0.1);
  border-top: 40px solid rgba(68, 68, 68, 0.12);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
}

.products-item::after {
  position: absolute;
  content: "";
  top: -27px;
  left: 14px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 25px 0 0 0 #ffffff, 48px 0 0 0 #ffffff;
}

.products-item:nth-child(2n) {
  margin-right: 0;
}

.products-item:hover {
  border: 1px solid rgba(77, 77, 77, 0.1);
  border-top: 40px solid rgba(68, 68, 68, 1);
  box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.products-item:hover .product {
  display: block;
  position: absolute;
  bottom: 0;
  left: -1px;
}

.product-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.product-title:hover,
.product-title:focus {
  color: #fb565a;
}

.product-title:active {
  color: #000000;
  opacity: 0.3;
}

.product-button {
  display: block;
  box-sizing: border-box;
  width: 200px;
  margin: 0 auto;
}

.product-button:active {
  color: rgba(255, 255, 255, 1);
}

.product-image img {
  display: block;
  width: 360px;
  height: 576px;
}

.paginator-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.paginator-item a {
  display: block;
  box-sizing: border-box;
  min-width: 50px;
  padding: 15px 19px;
  margin-right: 11px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border-radius: 2px 2px;
}

.paginator-item:last-child a {
  min-width: 260px;
}

.paginator-item a:hover,
.paginator-item a:focus {
  background-color: #dfdfdf;
}

.paginator-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);

}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  padding: 12px 16px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: none;
  border: 3px solid #dbdbdb;
}

.main-footer {
  width: 100%;
  background-color: #e9e5dc;
}

.maps {
  position: relative;
  width: 100%;
}

.maps iframe {
  position: absolute;
  width: 100%;
  z-index: 5;
  border: none;
}

.maps::after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -119px;
  left: 50%;
  margin-left: 100px;
  z-index: 3;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
}

.main-maps {
  position: relative;
  margin: 0;
  top: 0;
  left: 50%;
  margin-left: -720px;
  width: 1440px;
  height: 416px;
  line-height: 0;
}

.contacts {
  position: absolute;
  z-index: 10;
  top: 54px;
  left: 50%;
  margin-left: -580px;
  box-sizing: border-box;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  width: 319px;
  background-color: #ffffff;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts-address p {
  margin: 0;
  margin-bottom: 18px;
}

.contacts-address a {
  display: block;
  margin-bottom: 35px;
}

.contacts-address,
.contacts-address a {
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}

.contacts-address {
  margin-bottom: 38px;
}

.contacts .button {
  display: block;
  box-sizing: border-box;
  width: 219px;
  margin-bottom: 47px;
}

.social {
  background-color: #ffffff;
}

.social .container {
  display: flex;
  align-items: center;
  padding: 58px 0;
}

.social-list {
  margin: 0;
  padding: 0;
  width: 260px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 139px;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50% 50%;
}

.social-item:hover,
.social-item:focus {
  background-color: #e74246;
}

.social-item:active path {
  opacity: 0.3;
}

.offer {
  width: 550px;
  line-height: 22px;
}

.offer b {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 30;
  top: 50%;
  left: 50%;
  margin-top: -295px;
  margin-left: -480px;
  width: 960px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  padding: 0 100px;
  padding-top: 68px;
  padding-bottom: 84px;
}

.modal-show {
  display: block;
  animation-name: popsup;
  animation-duration: 0.5s;
}

.modal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  margin-bottom: 40px;
}

.modal-item {
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
}

.modal-item-textarea {
  width: 760px;
  margin: 0;
  margin-bottom: 40px;
}

.modal-item label,
.modal-item-textarea label {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 9px;
}

.modal-item input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 14px;
  outline: none;
}

.modal-item-textarea textarea {
  width: 100%;
  height: 118px;
  box-sizing: border-box;
  padding: 9px 13px;
  resize: none;
  outline: none;
}

.modal-item input,
.modal-item-textarea textarea {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
}

.modal-item input:hover,
.modal-item-textarea textarea:hover {
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #b4b9bb;
}

.modal-item input:focus,
.modal-item-textarea textarea:focus {
  color: #444444;
  opacity: 1;
  border: 2px solid #000000;
}

.modal .button {
  border: none;
  display: block;
  box-sizing: border-box;
  width: 260px;
}

.close {
  position: absolute;
  right: 90px;
  top: 80px;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  background-image: url("../img/svg/close-cross.svg");
  border: none;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:active {
  opacity: 0.1;
}

@-webkit-keyframes popsup {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes popsup {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes colorchange {
  0% {
    background-color: #ff9985;
  }
  30% {
    background-color: #ff5357;
  }
  50% {
    background-color: #fb3a3a;
  }
  100% {
    background-color: #ffffff;
  }
}

@keyframes colorchange {
  0% {
    background-color: #ff9985;
  }
  30% {
    background-color: #ff5357;
  }
  50% {
    background-color: #fb3a3a;
  }
  100% {
    background-color: #ffffff;
  }
}

.modal-error {
  animation-name: colorchange;
  animation-duration: 0.3s;
}
